# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# IDE metadata
.idea/
.vscode/

# Project outputs
data/exports/
data/question_banks/
logs/

# OS Artifacts
Thumbs.db
.DS_Store

# Packaging artifacts
*.egg-info/

configs/
